<h1>
    topic ID: <%= @topic.id %>
</h1>
<h3>
    title: <%= @topic.title%>
</h3>

<div>
    <textarea class="materialize-textarea"></textarea>
    <button class="btn">add comment</button>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        window.createSocket(<%= @topic.id %>)
    });
</script>