<h1>
    topic ID: <%= @topic.id %>
</h1>
<div>
    title: <%= @topic.title%>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        window.createSocket(<%= @topic.id %>)
    });
</script>